.contact-info-container {
  padding: 20px;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 2em;
    border-bottom: 3px solid #a20607;
    width: 70%;
  }
}

@media only screen and (max-width:990px){
  .contact-info-container{
    width: 80%;
    h3{
      width: 30%;
    }
  }
}

