.member-background {
  position: relative;
  background-color: #a0a0a0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  justify-content: center;
  margin-top: 50px;

  h2 {
    font-size: 2.5em;
    border-bottom: 3px solid #a20607;
  }

  .member-container::-webkit-scrollbar {
    display: none;
  }
  .member-container {
    width: 90%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
  }

  .arrow {
    width: 90%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    font-size: 3em;
    color: #a20607;

    .left-arrow,
    .right-arrow {
      cursor: pointer;
    }
  }
}



@media only screen and(max-width: 950px) {
  .member-background {
    height: 350px;

    h2 {
      font-size: 2em;
    }
  }
}

