.header {
  display: flex;
  border-bottom: 2px solid #A20607;

  .logo-container{
      display: flex;
  }

  .logo-image {
    max-width: 100px;
    border-radius: 10px;
    margin: 10px;
    margin-left: 50px;
    height: auto;
  }


  .info {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
    margin-right: 50px;
  }

  .border{
    border-right: 1px solid #888888;
  }
}

@media only screen and (max-width: 800px){
    .header {
        font-size: 12px;

        .logo-image{
            display: none;
        }

        .info {
            margin: 0 auto;
            justify-content: center;
            padding: 0;
        }
    }
}

@media only screen and (max-width: 375px){
  .header {
    font-size: 1em;
  }

}

