.carousel-container {
    position: relative;
    max-height: 70vh;
    overflow-y: hidden;
    
    img {
        width: 100vw;
    }

    .carousel-inner{
        position: absolute;
        top: 0
    }
}