.footer{
    margin-top: 100px;
    position: relative;
    background-color: #1b1b1b;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    line-height: 30px;
    
    .about-us{
        width: 30%;
    }

    h3{
        color: white;
        border: white;
    }

    p{
        font-size: 0.9em;
        color: #888888;
    }
}

@media only screen and (max-width: 1300px){
    .footer {
        font-size: 0.9em;
    }
}