.footer{
    margin-top: 100px;
    position: relative;
    background-color: #1b1b1b;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 50px;
    line-height: 30px;
    
    .about-us{
        width: 50%;
        text-align: start;
    }

    .contact{
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    h3{
        color: white;
        border: white;
    }

    p{
        font-size: 0.9em;
        color: #888888;
    }
}

@media only screen and (max-width: 1300px){
    .footer {
        font-size: 0.9em;
    }
}

@media only screen and (max-width: 670px){
    .footer{
        line-height: 15px;
    }
}